<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aramco R&DC</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    
<div class="">
<h1 class="text-center alert alert-danger p-3 mb-2 bg-info text-white">Restore page</h1>
        <div class="row" >
            <div class="col-sm-2" ></div>

            <!-- content goes here -->
            <div class="col-sm-8">
<div class="alert alert-success alert-dismissable" role="alert" style="width: 1250px; display: none; margin: auto; transform: translateX(-115px);">
    <button type="button" class="close" data-dismiss="alert" aria-label="close"></button>
</div>
<button style="margin-top: 10px; display: none; transform: translateX(120px);" class="btn btn-primary float-right" data-toggle="modal" data-target="#myModal" >Add data</button>



<a href="{{ url_for('Index')}}">
    <button type="submit" class="btn btn-primary mb-2" style="margin-top: 10px;transform: translateX(-115px);">Main page</button>
</a>
<a href="{{ url_for('intermidiate')}}">
    <button type="submit" class="btn btn-primary mb-2" style="margin-top: 10px;transform: translateX(-115px);">Intermediate page</button>
</a>

<table class="table table-hover" style="width: 80%; margin: auto; margin-top: 20px; text-transform: capitalize;">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">date</th>
            <th scope="col">division</th>
            <th scope="col">tech</th>
            <th scope="col">dep</th>
            <th scope="col">site</th>
            <th scope="col">month</th>
            <th scope="col">year</th>
            <th scope="col">is_checked</th>
            <th scope="col">value</th>
            <th scope="col">tpv</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rdcData %}
        <tr>
        <td>{{row.0}}</td>
        <td>{{row.1}}</td>
        <td>{{row.2}}</td>
        <td>{{row.3}}</td>
        <td>{{row.4}}</td>
        <td>{{row.5}}</td>
        <td>{{row.6}}</td>
        <td>{{row.7}}</td>
        <td>{{row.8}}</td>
        <td>{{row.9}}</td>
        <td>{{row.10}}</td>
        <td>
            <a href="/intermidiate/rejected/{{row.0}}" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modaledit{{row.0}}">delete</a>
        </td>
    </tr>   
    {% endfor %}
    </tbody>

</table>
            </div>
            <!-- Content ends here-->


            <div class="col-sm-2"></div>

        </div>
    </div>

 <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
</body>
</html>